<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <head>
        <title>Document</title>
        <link href="/static/assets/layui/css/modules/layer/default/layer.css" rel="stylesheet">
        <script src="/static/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
        <script src="/static/assets/layui/layer.js" type="text/javascript" ></script>
        <script src="/static/assets/js/communicate.js" type="text/javascript"></script>
    </head>
</head>
<body>


<input type="button" name="communicatePeople" id="communicatePeople" value="通讯员" onclick="communicate.addCommunicate();"/><br />

<input type="text" name="communicate_people" id="communicate_people" disabled=true style="width:300px;" value="小(22),大(11)"/>

</body>
</html>