<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.funtl.hello.spring.boot.mapper.CorrespondentMapper">
  <resultMap id="BaseResultMap" type="com.funtl.hello.spring.boot.entity.Correspondent">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="area" jdbcType="VARCHAR" property="area" />
    <result column="dept" jdbcType="VARCHAR" property="dept" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
</mapper>